h3
{
    color:royalblue
}h3{
    font-weight: bold;
    font-style: italic;
    font-size: large;
    
}
h2{
    color:red
}h2{
    font-weight: bold;
    font-style: italic;
    font-size: large;

}
body{
    background-color: rgb(153, 94, 70);
}
body{
    background-color: rgb(175, 183, 185);
}