h1{
    color:#a31ca3
    

}
h1{
    font-weight: bold;
    font-style: italic;
    font-size: large;
}
    
h4{
    color:orangered
}
h4{
    font-weight: bold;
    font-style: italic;
    font-size: large;
}